h1{
    color: red;
    text-align: center;
    font-size: xx-large;
}
h2{
    text-align: center;
    color: darkblue;
}
#catchfrase{
    font-size: large;
    text-align: center;
    color: darkslategray;
    border-radius: 18px;
    
}

#headwrapper{
    width: 1400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    border-radius: 18px;

}

#wrapper{
width: 1400px;
height: 1800px;
margin-left: auto;
margin-right: auto;
text-align: center;

background-color: white;
border-radius: 18px;
}

.image
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    background-image: url("../pictures/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

