
h1{
    color: black;
    text-align: center;
    font-size: xx-large;
}
h2{
    text-align: center;
    color: darkblue;
}
#catchfrase{
    font-size: large;
    text-align: center;
    color: darkslategray;
    border-radius: 18px;
    
}

#headwrapper{
    width: 1000px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    border-radius: 18px;
}

#wrapper{
width: 1000px;
height: 2600px;
margin-left: auto;
margin-right: auto;

background-color: white;
border-radius: 18px;
}

.image
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

a:link {
    color: blue;
}

a:visited {
    color: violet;
}
a:hover{
    color: lightblue;
}

body{
    background-image: url("../pictures/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

